[user]
  name = Kyle Graves
  email = kyle@easypost.com
[core]
  editor = vim
  excludesfile = ~/.gitignore_global

[diff]
  tool = vimdiff

[pull]
  rebase = false
  # hint:   git config pull.rebase false  # merge (the default strategy)
  # hint:   git config pull.rebase true   # rebase
  # hint:   git config pull.ff only       # fast-forward only

[push]
  default = simple
  # git config --global push.default simple

[alias]
  a = add

  b = branch

  c = commit
  ca = commit --amend

  co = checkout

  cp = cherry-pick

  d = diff
  # remove local and remote branch
  db = !sh -c 'git push origin :`whoami`/$0 && git br -d `whoami`/$0'
  # delete merged branches
  dmb = !sh -c 'git branch --merged | egrep -v \"(^\\*|master|dev)\" | xargs git branch -d' -
  # delete tag
  dt = !sh -c 'git tag -d "$0" && git push origin :refs/tags/$0'

  l = log
  # git log with graph
  lol = log --graph --decorate --pretty=oneline --abbrev-commit

  # new local branch and matching remote branch with your name prefixed
  nb = !sh -c 'git push origin HEAD:`whoami`/$0 && git checkout -t origin/`whoami`/$0'
  # new tag
  nt = !sh -c 'git tag $0 -am \"$1\" && git push --tags origin'

  pr = pull --rebase

  sl = stash list
  sp = stash pop
  ss = stash save

  st = status --short --branch

  svnr = svn rebase
  svnd = svn dcommit

  # uncommit / undo commit
  uc = reset --soft HEAD^
  # unstage changes / undo stage
  us = reset HEAD
